@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: black;
}

#rpg {
  position: relative;

}

#rpg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}