body,
html {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rpg {
    position: relative;

}

@media (min-width: 800px) {
    #rpg {
        width: 1000px;
        height: 800px;
    }
}

@media (max-width: 800px) {
    #rpg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}